<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="qcomment">
  
  	<resultMap type="QnACommentDto" id="QnACommentMap">
		<result property="comment_No" column="QCOMMENT_NO" />  	
  		<result property="question_No" column="QUESTION_NO" />
  		<result property="answer_No" column="ANSWER_NO" />
  		<result property="comment_Content" column="QCOMMENT_CONTENT" />
  		<result property="comment_Date" column="QCOMMENT_DATE" />
  		<result property="group_no" column="GROUP_SQ" />
  		<result property="reply_no" column="REPLY_ID" />
  		<result property="user_Id" column="USER_ID" />
  		<result property="nuser_Id" column="NUSER_ID" />
  	</resultMap>
  	
  	<select id="selectList" resultMap="QnACommentMap">
  		SELECT * 
  		FROM QNA_COMMENT
  		WHERE QUESTION_NO=#{question_No}
  		ORDER BY QCOMMENT_NO DESC
  	</select>
  
  </mapper>