<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myuser">
	<resultMap type="UserDto" id="UserMap">
		<result property="user_Id" column="USER_ID" />
		<result property="user_Pw" column="USER_PW" />
		<result property="user_Grade" column="USER_GRADE" />
		<result property="user_Name" column="USER_NAME" />
		<result property="user_Phone" column="USER_PHONE" />
		<result property="user_Mail" column="USER_MAIL" />
		<result property="user_Point" column="USER_POINT" />
		<result property="user_Pic" column="USER_PIC" />
		<result property="user_Lang" column="USER_LANG" />
	</resultMap>

	<insert id="insert" parameterType="UserDto">
		INSERT INTO USER_TB
		VALUES(#{user_Id},#{user_Pw},'일반회원',#{user_Name},#{user_Phone},#{user_Mail},#{user_Point},#{user_Pic},#{user_Lang})
	</insert>
	
	<select id="login" parameterType="UserDto" resultType="UserDto">
	SELECT * FROM USER_TB WHERE USER_ID = #{user_Id} and USER_PW = #{user_Pw}
	</select>
	
	
		<!-- SUHYEON 로그인버전 -->
	 	<!-- <select id="login" parameterType="memberDto" resultType="memberDto">
  			SELECT USER_ID, USER_PW, USER_NAME, USER_PHONE, USER_MAIL, USER_POINT, USER_LANG
  			FROM USER_TB
  			WHERE USER_ID=#{user_Id}
  			AND USER_PW=#{user_Pw}
  		</select> -->
  		
  		<!-- 비밀번호가 없는 경우 아이디 많으로 회원의 정보를 가져오는 부분 -->
  		<select id="getInfo" parameterType="memberDto" resultType="memberDto">
  			SELECT USER_ID, USER_PW, USER_NAME, USER_PHONE, USER_MAIL, USER_POINT, USER_LANG
  			FROM USER_TB
  			WHERE USER_ID=#{user_Id}
  		</select>
  		
  		
  		<delete id="member_delete" parameterType="memberDto" >
   		    WHERE search-condition
  			DELETE FROM USER_TB
  			WHERE USER_ID = ${user_Id} AND USER_PW = ${user_Pw}
  	
  		</delete>
  		
  		<update id="memberUpdate" parameterType="memberDto" >
  			UPDATE USER_TB
  			SET
  				USER_PW = #{user_Pw},
  				USER_NAME = #{user_Name},
  				USER_PHONE = #{user_Phone},
  				USER_MAIL = #{user_Mail}
  				<!-- ,USER_LANG = #{user_Lang} -->
  			WHERE
  				USER_ID = #{user_Id}
  		
  		</update>
  		<update id="update_nonpw" parameterType="memberDto" >
  			UPDATE USER_TB
  			SET  			
  				USER_NAME = #{user_Name},
  				USER_PHONE = #{user_Phone},
  				USER_MAIL = #{user_Mail}
  				<!-- ,USER_LANG = #{user_Lang} -->
  			WHERE
  				USER_ID = #{user_Id}
  		
  		</update>
  		
  	
</mapper>